@charset "utf-8";
/* CSS Document */

html, body {
	height:  100%;
	margin:  0px;
	padding: 0px;
	border:  0px;
}
#contenuto {
	top:            0px;
	margin:         0px;
	padding-top:    1px;
	padding-left:   16px;
	padding-right:  16px;
	padding-bottom: 1px;
	border:         0px;
	z-index: 2;
}
#osLogo {
	position: absolute;
	bottom: 8px;
	right: 8px;
	z-index: -1;
}
