@charset "utf-8";
/* CSS Document */
#contenuto {			
	background: #ccdfff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ccdfff 0%, #ffffff 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ccdfff), color-stop(50%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ccdfff 0%,#ffffff 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ccdfff 0%,#ffffff 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ccdfff 0%,#ffffff 50%); /* IE10+ */
	background: linear-gradient(to bottom,  #ccdfff 0%,#ffffff 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccdfff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}

